<h1>Are you sure you want to logout?</h1>
<form method="post" action="/logout" >
  <input class="btn btn-danger" id="submit" type="submit" value="Logout">
</form><br>
<a href="/tweets">Nevermind, take me back home!</a>
