<h1>Sign Up for Fwitter</h1>
<form method="post" action="/signup">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>

  <input class="btn btn-success" type="submit" value="Sign Up">
</form>
