<% if flash.has?(:notice) %>
  <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Tweets</h1>
<% @tweets.each do |tweet| %>
  <p><%= tweet.content %> - <%= tweet.user.username %></p>
<% end %>
