<h1>Tweet something!</h1>
<form method="post" action="/tweets">
  <div class="form-group">
    <textarea class="form-control" name="content" rows="8" cols="80" placeholder="What are you thinking?"></textarea><br>
    <input class="btn btn-primary" type="submit" id="submit" value="submit">
  </div>
</form>
