<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/style.css">
  </head>
  <body>

    <header>
      <% if Helpers.logged_in?(session) %>
        <form method="post" action="/logout">
          <input type="submit" id="logout" value="Logout">
        </form>
        <a href="/tweets/new">New Tweet</a>
      <% end %>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <% if flash.has?(:notice) %>
            <div class="alert alert-info" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
